<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_product_get_final_price">
        <observer name="tigren_dailydeal_product_get_final_price" instance="Tigren\Dailydeal\Observer\ProductGetFinalPrice" />
    </event>
    <event name="catalog_block_product_list_collection">
        <observer name="tigren_dailydeal_product_list_get_final_price" instance="Tigren\Dailydeal\Observer\ProductListGetFinalPrice" />
    </event>
    <event name="sales_order_place_after">
        <observer name="tigren_dailydeal_after_place_order" instance="Tigren\Dailydeal\Observer\AfterOrderPlaced" />
    </event>
    <event name="controller_action_predispatch_checkout_cart_add">
        <observer name="tigren_dailydeal_cart_add_before" instance="Tigren\Dailydeal\Observer\BeforeAddToCart" />
    </event>
</config>